<div class="video-player-playlist" *ngIf="playlist && playlist.length">
    <ul>
        <li *ngFor="let video of playlist">
            <div class="video-item">
                <div class="video--image">
                    <img src="http://192.168.188.200:8080/{{video.data.image}}" >
                </div>
                <div class="video--content">
                    <div class="video--content-header">
                        <h4>{{video.data.name}}</h4>
                    </div> 
                    <div class="video--content-body">
                        {{video.data.description}}
                    </div>
                    <div class="video--content-footer">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <button class="btn btn-dark mr-2">
                                    <i class="fa fa-play"></i>
                                </button>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-dark">
                                    <i class="fa fa-chevron-up"></i>
                                </button>
                                <button class="btn btn-dark">
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                            </div>
                            <div class="btn-group ml-2">
                                <button class="btn btn-dark" (click)="remove(video.id)">
                                    <i class="fa fa-ban"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>