<div class="container">

    <div class="row">
        <div class="col">
            <app-search-component (search)="onSearch($event)"></app-search-component>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-pagination-infinite-scroll [autoLoadCount]=3 >
                <div class="card-group">
                    <app-video-list-item-component *ngFor="let item of items" [item]="item"></app-video-list-item-component>
                </div>
            </app-pagination-infinite-scroll>
            <div *ngIf="isLoading" class="loading-indicator">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
</div>
