<div class="container-fluid">

  <div class="row">
    <div class="navbar">
      <button class="btn btn-warning btn-labeled mr-2" *ngFor="let filter of activeFilters" (click)="removeFilter(filter)">
        <span class="btn-label">
          <i class="fa fa-close"></i>
        </span>
        {{filter.getLabel()}}
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-3" *ngFor="let filter of filters" [ngSwitch]="filter.getType()">
      <app-select-filter-component *ngSwitchCase="'select'" [model]="filter"></app-select-filter-component>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button class="btn btn-success float-md-right" (click)="applyFilter()">apply filter</button>
    </div>
  </div>
</div>