<ng-template #resumeVideo>
    <button class="btn btn-dark" (click)="resume()"><i class="fa fa-play"></i></button>
</ng-template>

<ng-template #pauseVideo>
  <button class="btn btn-dark" (click)="pause()"><i class="fa fa-pause"></i></button>
</ng-template>

<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <div class="btn-group">
        <button class="btn btn-dark"><i class="fa fa-stop"></i></button>

        <ng-container *ngIf="videoPaused; then resumeVideo; else pauseVideo">
        </ng-container>

        <button class="btn btn-dark"><i class="fa fa-volume-off"></i></button>
        <button class="btn btn-dark"><i class="fa fa-volume-down"></i></button>
        <button class="btn btn-dark"><i class="fa fa-volume-up"></i></button>
      </div>
    </div>
  </div>
</div>