<div class="container">
    <!-- quality -->
    <h1>filter</h1>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label for="">Video Qualitiy</label>
                <select name="" id="" class="form-control">
                    <option value="">low qualitiy</option>
                    <option value="">medium quality</option>
                    <option value="">high qualitiy</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label for="">Video length</label>
                <select name="" id="" class="form-control">
                    <option value="" >< 10 min</option>
                    <option value="" >> 20 min</option>
                </select>
            </div>
        </div>
    </div>
</div>