<div class="container">
    <div class="row">
        <div class="col">
            <ul class="list-group file-list">
                <li *ngFor="let download of downloads" class="list-group-item">
                    <div class="download--item d-flex flex-column">
                        <div class="download--item-header d-flex flex-row">
                            <span class="download--item-title">
                                {{download.raw.name}}
                            </span>
                            <span class="download--item-actions align-self-start">
                                <button class="btn btn-outline-danger btn-sm" (click)="cancelDownload(download)">
                                    <i class="fa fa-ban"></i>
                                </button>
                            </span>
                        </div>
                        <div class="download--item-body d-flex flex-column">
                            <div class="download--item-progress">
                                <div class="progress-bar" [ngStyle]="{'width': (download.loaded)}"></div>
                            </div>
                            <div class="flex-row d-flex justify-content-between">
                                <span>{{download.state}}</span>
                                <span>{{download.loaded}}</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
