@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';

app-download-component {

    .download--item {
        font-size: .9rem;
    }

    .download--item-header {
        border-bottom: 1px solid #AEAEAE;
        padding: 0 0 .5rem;
        margin: 0 0 .5rem;
    }

    .download--item-title {
        flex: 1;
        margin-right: .5rem;
    }

    .download--item-progress {

        .progress-bar {
            height: .5rem;
        }

        background: #AEAEAE;
        margin: 0 0 .5rem;
        border-width: 1px 0 0;
    }
}