html, body {
    height: 100%;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100%;

    .app-body {
        flex: 1;
        padding: 2em 0;
    }
}

.card-group {
    justify-content: space-between;
}