@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';

$app-theme-colors: ( "black": #151515);

// extend bootstrap theme colors
$theme-colors: map-merge( $theme-colors, $app-theme-colors);

$navbar-black-active-color: #F5F5F5;
$navbar-black-color: #E3E3E3;
$navbar-black-hover-color: #F5F5F5;
$navbar-black-disabled-color: #000;
