<div class="card">
  
    <img src="{{item.thumbnail}}" alt="" class="card-img-top">
    <div class="card-block">
      <h4 class="card-title">{{item.title}}</h4>
      <p class="card-text">{{item.description | words: 40 : "..."}}</p>
    </div>
    <div class="card-footer">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
          <button type="button">
            <i class="fa fa-info"></i>
          </button>
          <button type="button">
            <i class="fa fa-play"></i>
          </button>
        </div>
      </div>
    </div>
  </div>